/*
 * SPDX-License-Identifier: LGPL-3.0-or-later
 * SPDX-FileCopyrightText: 2026 flodavid
 */

levelbar.colored_bar empty {
  background-color: @accent_color;
}
levelbar.colored_bar block.low  {
  background-color: @accent_color;
}
levelbar block.high {
  background-color: orange;
}
levelbar block.full {
  background-color: orangered;
}

/* Fallback to default color if the accent color is too close to orange/red */
levelbar empty {
  background-color: lightskyblue;
}
levelbar block.low  {
  background-color: lightskyblue;
}

.italic_text {
  font-style: italic;
}
/* Do no change visited mount point link color */
mountPointRow .link:visited  {
  opacity: 1;
}

.property label.title {
  opacity: 0.75;
  font-size: 0.85rem;
}

.property label.subtitle {
  opacity: initial;
  font-size: initial;
}

headerbar .image-button.highlighted {
  border-width: 2.5px;
  border-color: @accent_color;
  border-style: solid;
}

window.dialog image {
  margin-top: 2px;
  margin-right: 4px;
  margin-left: 2px;
}
